/******************************************************************************/
/* Selectors for general elements start here.
/******************************************************************************/

:root {
  --color-text-1: #20384a;
  --color-text-1-inverted: #ffffff;
  --color-brand-1: #407093;
  --color-brand-1a: #2e506a;
  --color-brand-2: #e4f6ff;
  --color-brand-2a: #0092cc;
  --color-brand-3: #ffe07d;
  --color-brand-4: #8fddc1;
  --color-neutral-1: #eeeeee;
  --color-neutral-2: #dddddd;
}

#root {
  height: 100%;
  color: var(--color-text-1);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline-color: var(--color-brand-2a);
}

/******************************************************************************/
/* Selectors for the header start here.
/******************************************************************************/

header {
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 5px 15px var(--color-neutral-2);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/******************************************************************************/
/* Selectors for the main section start here.
/******************************************************************************/

main {
  padding: 2rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
}

/******************************************************************************/
/* Selectors for the form start here.
/******************************************************************************/

form {
  display: none;
}

form.active {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 55px var(--color-neutral-2);
  display: initial;
}

.tab {
  display: none;
}

.tab.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

h2 {
  text-align: center;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px var(--color-neutral-2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card .active {
  display: initial;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset label {
  font-size: 0.8rem;
}

legend {
  padding-bottom: 0.5rem;
}

.fields {
  display: flex;
  gap: 2rem;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label + p {
  font-size: 0.8rem;
}

input,
textarea {
  resize: none;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-neutral-1);
  border: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 0.5rem;
}

input:focus-visible,
textarea:focus-visible {
  border-bottom: 5px solid var(--color-brand-2a);
  outline: none;
}

.add-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  transition: background-color 0.2s ease;
}

.add-button:hover {
  background: var(--color-neutral-2);
}

.add-button img {
  width: 1.5rem;
}

.nav-buttons:has(:nth-child(1)) {
  display: flex;
  justify-content: flex-end;
}

.nav-buttons:has(:nth-child(2)) {
  display: flex;
  justify-content: space-between;
}

.nav-buttons button {
  width: 5rem;
  color: var(--color-text-1-inverted);
  padding: 0.2rem 0.6rem;
  background-color: var(--color-text-1);
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.nav-buttons button:hover {
  background-color: var(--color-brand-1a);
}

.nav-buttons button:focus-visible {
  outline-color: var(--color-brand-2a);
  outline-offset: 0.2rem;
}

/******************************************************************************/
/* Selectors for the CV preview start here.
/******************************************************************************/

.preview-wrapper {
  display: none;
}

.preview-wrapper.active {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.preview li {
  margin-left: 1rem;
}

.sections {
  min-height: calc(850px * (4 / 3));
  padding: calc(1in - 3rem) 1in 1in;
  border-top: 3rem solid var(--color-brand-4);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 55px var(--color-neutral-2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  font-size: 1.2rem;
}

.section-title,
.bold {
  font-weight: bold;
}

.details {
  display: flex;
  justify-content: space-between;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--color-text-1);
}

/******************************************************************************/
/* Selectors for the personal details section of the preview start here.
/******************************************************************************/

.preview .personal-details {
  align-items: center;
}

.preview .full-name {
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
}

.preview .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.preview .summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/******************************************************************************/
/* Selectors for the preview options start here.
/******************************************************************************/

.options {
  align-self: flex-end;
}

.options button {
  color: white;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-text-1);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  transition: background-color 0.2s ease;
}

.options button:hover {
  background-color: var(--color-brand-1a);
}

.options img {
  width: 1.5rem;
}

/******************************************************************************/
/* Selectors for the footer start here.
/******************************************************************************/

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--color-text-1);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

footer a {
  color: var(--color-text-1-inverted);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer a:focus-visible {
  outline: 1px solid var(--color-text-1-inverted);
}

/******************************************************************************/
/* Media queries start here.
/******************************************************************************/

@media screen and (max-width: 850px) {
  form {
    width: 100%;
    gap: 2rem;
  }

  .fields {
    flex-direction: column;
  }
}
